<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 id="widget-title-archive" class="widget-title" data-skip-mobile-nav="true">Archives</h3>
    <div class="widget">
      <%- list_archives() %>
    </div>
  </div>
<% } %>
