<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 id="widget-title-category" class="widget-title">Categories</h3>
    <div class="widget">
      <%- list_categories() %>
    </div>
  </div>
<% } %>
