<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 id="widget-title-tagcloud" class="widget-title">Tag Cloud</h3>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>
