.toc-wrap
  @extend $base-style
  margin-top: 20px
  font-size: 0.85em
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  border-radius: 3px
  h3
    margin: 0
    padding: 5px
  ol
    margin: 0.5em 1em
    list-style: none
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
